<div class="container">
  <h1>Edit page</h1>
  <%= simple_form_for [@restaurant, @menu] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <div class='row datetimerange'>
      <%= f.input :start_time, as: :time_picker, wrapper: :ranged_datetime, label: false, placeholder: "start time" %>
      <%= f.input :end_time, as: :time_picker, wrapper: :ranged_datetime, label: false, placeholder: "end time" %>
      <%= f.input :start_date, as: :date_picker, wrapper: :ranged_datetime, label: false, placeholder: "start date" %>
      <%= f.input :end_date, as: :date_picker, wrapper: :ranged_datetime, label: false, placeholder: "end date" %>
    </div>
    <%= f.submit %>
  <% end %>
</div>