<h1>Edit page</h1>
<%= simple_form_for [@restaurant, @menu] do |f| %>
  <%= f.input :name %>
  <%= f.input :start_time, include_blank: true %>
  <%= f.input :end_time, include_blank: true %>
  <%= f.input :start_date, include_blank: true %>
  <%= f.input :end_date, include_blank: true %>
  <%= f.submit %>
<% end %>
  