<h1> Create a new User </h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit %>
<% end %>

<p>Already have an account with us? <%= link_to "Sign in here", login_path %> </p>