<div class="container">
  <h1> <%= @dish.name %> </h1>
  <%= link_to "edit", edit_menu_dish_path(@dish.menu_id, @dish) %> | 
  <%= link_to "delete", menu_dish_path(@dish.menu_id, @dish), method: :delete, data: {confirm: "Are you sure you want to delete this dish?"} %>
  <div class="row">
    <div class="col-md-3">
      <%= simple_form_for [@dish, @dish.dish_extras.build], remote: true do |f| %>
        <%= f.input :description if f.object.id.nil? %>
        <%= f.submit %>
      <% end %>
    </div>

    <div class="col-md-9">
      Dish description: <%= @dish.description %><br>
      Dish price: <%= @dish.price %><br>

      Dish extras: <br>
      <% @dish.dish_extras.each do |extra| %>
        <% next if extra.new_record? %>
        <li><%= extra.description %></li>
      <% end %> 
    </div>
  </div>

</div>