<div class="container-fluid">
  <h1 class="restaurant-title"><%= @restaurant.name %></h1>
  <div class="row">
    <% if current_user.is_admin %>
      <div class="col-md-3">
        <%= react_component('MenuToolbar', {restaurant: @restaurant, menus: @menus}) %>
      </div>
    <% end %>

    <div class=<%= current_user.is_admin ? "col-md-9" : "col-md-12"%> >
      <div class="restaurant-menu">
        <% @menus.each do |menu| %>
          <div class="menu-container">
            <% if menu.should_be_available? %>
              <h2 class="menu-title"><%= menu.name %> </h2>
              <p><%= menu.description%></p>
              <% if current_user.is_admin %>
                <%= menu.delete %>
                <%= menu.edit %>
                <%= menu.state %> <%= menu.change_state %>
                <%= menu.time_available %>
              <% end %> 
              <hr />
              <div class="dish-container">
                <% menu.dishes.each do |dish| %>
                  <%= react_component('Dish', {user: current_user, dish: dish, diets: @diets, extras: dish.dish_extras}) %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %> <!-- Loop Ends -->
      </div>
    </div>
  </div>
</div>