<div class="container">
  <div class="restaurant-feature-toolbar">
    <%= react_component('MenuToolbar', {restaurant: @restaurant, menus: @menus}) %>
  </div>

  <div class="restaurant-menu">
    <h1 class="restaurant-title"><%= @restaurant.name %></h1>
    <% @menus.each do |menu| %>

      <h2 class="menu-title"><%= menu.name %> </h2>
      <div class="menu-state">
        State: <%= menu.state %>
        <%= menu.change_state %>
      </div>
      <hr />
      <%= react_component('DishesIndex', {dishes: menu.dishes}) %>
    <% end %>
  </div>
</div>
