<!DOCTYPE html>
<html>
<head>
  <title>PieReact</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- tool-bar -->
<header>
  <h1 class="logo">Picky Eater</h1>
  <% if user_signed_in? %>
    <div class="header__links">
      <% if current_user.is_admin %>
      <% else %> 
      <% end %>
      <%= link_to "User Profile", user_path(current_user) %>
      <%= link_to "Sign Out", logout_path %>
    </div>
  <% end %>

</header>

<%= yield %>

</body>
</html>
